<nav *ngIf="breadcrumbs && breadcrumbs.length > 0" class="fuse-breadcrumb" aria-label="Breadcrumb">
    <ol class="fuse-breadcrumb-list">
        <li 
            *ngFor="let breadcrumb of breadcrumbs; let last = last; trackBy: trackByFn"
            class="fuse-breadcrumb-item"
            [class.fuse-breadcrumb-item-active]="last">
            
            <!-- Icon (if provided) -->
            <mat-icon 
                *ngIf="breadcrumb.icon && !last"
                class="fuse-breadcrumb-icon"
                [svgIcon]="breadcrumb.icon">
            </mat-icon>

            <!-- Link (for non-last items) -->
            <a 
                *ngIf="!last && breadcrumb.url"
                [routerLink]="breadcrumb.url"
                class="fuse-breadcrumb-link">
                {{ breadcrumb.label }}
            </a>

            <!-- Current page (last item, no link) -->
            <span 
                *ngIf="last"
                class="fuse-breadcrumb-current">
                <mat-icon 
                    *ngIf="breadcrumb.icon"
                    class="fuse-breadcrumb-icon"
                    [svgIcon]="breadcrumb.icon">
                </mat-icon>
                {{ breadcrumb.label }}
            </span>

            <!-- Separator -->
            <mat-icon 
                *ngIf="!last"
                class="fuse-breadcrumb-separator"
                [svgIcon]="'heroicons_solid:chevron-right'">
            </mat-icon>
        </li>
    </ol>
</nav>

