<z-layout class="h-screen" zDirection="vertical">
  <app-header [zOnMobileMenuClick]="onMobileMenuClick" />
  
  <z-layout class="flex-1 min-h-0" zDirection="horizontal">
    <app-sidebar
      #sidebarRef
      [zSidebarWidth]="zSidebarWidth()"
      [zSidebarItems]="zSidebarItems()"
      [zUserName]="zUserName()"
      [zUserEmail]="zUserEmail()"
      [zUserAvatar]="zUserAvatar()"
    />
    
    <z-content 
      class="!min-h-0"
      [zSidebarToggle]="sidebarToggle"
      [zSidebarCollapsed]="sidebarCollapsed()"
    >
      <ng-content></ng-content>
    </z-content>
  </z-layout>
</z-layout>

