building-full-detail {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

// Button styling improvements
:host ::ng-deep {
    .mat-mdc-button,
    .mat-mdc-outlined-button,
    .mat-mdc-raised-button {
        &.w-full {
            justify-content: center;
        }
    }
}

