.no-data-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in;
}

.no-data-image {
    max-width: 200px;
    width: 100%;
    height: auto;
    opacity: 0.7;
    
    @media (max-width: 640px) {
        max-width: 150px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

