.contact-add-dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    contacts-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

::ng-deep .contact-add-dialog-container {
    .mat-mdc-dialog-container {
        max-width: 95vw !important;
        width: 95vw !important;
        max-height: 95vh !important;
        height: 95vh !important;
    }
    
    .mat-mdc-dialog-surface {
        border-radius: 12px !important;
    }
}

